html{
 background-color: #c6c5c5;
}

body{
  background-image: url("just-map.gif");
  background-position: 60% 0%;
  background-repeat: no-repeat;

text-align: left;
  margin: 10px; 
}

a:link { 
	color: #336699;
	}


h1{
   font-weight:bold;
   font-size:x-large;
  /* margin-left:auto;*/
   /* padding-top: 15px; */
   padding-bottom: 10px;
   padding-top: 10px;
   padding-right: 0px;
}

.page_title_heading 
{
   font-weight:bold;
   font-size: 22pt;
   text-transform: uppercase;
   margin-left: 10px;
   padding-bottom: 0px;
   padding-top: 45px;
   padding-left: 0px;
   padding-right: 0px;
   color: #5da01c;
} 

.page_title_heading a
{
text-decoration: none;
 color: #5da01c;
}

h2{
   font-weight:bold;
   color:white;
   margin-left:10px;
   padding-left: 20px;
}

p {padding:5px 0px} 

table,tr,td,th,thead
{
  border: 2px solid #555555;
  padding : 10px;
  margin: 20px;	
}


.vis_heading
{
text-align: left; 
/* float: left;  */
  font-weight:bold;
   font-size:medium;
/* background-color:#B0B0B0; */
}


.vis_sub_heading
{
text-align: right; 
font-size:  x-small;
font-style: italic;
/* float: right;  */
 /* background-color:#B0B0B0; */
}

.vis_head
{
     color: #ffffff;
      background-color: #797979;
     padding-bottom: 5px;
     padding-top: 5px;
     padding-left: 5px;
}


.geomaptable
{
   padding-top: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
   padding-right: 0px;
  
}

#foo 
{
  border: 5px solid #ffffff;
  padding : 0px;
 #padding-left: 10px;
  margin: 5px;
}

.footer
{
    margin-left: 20px;
    font-size:10px;
    color: blue;
}

.info_box
{
    background-color : white;  
    border: 0px solid #ffffff;
}

.info_box td
{
 margin : 20px; 
 padding: 5px;
}

.info_box h1
{
 color: #797979;
 font-size: large;
}

.geomaptable table,tr,td,th,thead
{
  border: 0px solid #ffffff;
  padding : 0px;
  margin: 0px;
  #background-color: #ffffff;
}


.geomaptable h1
{
     color: #ffffff;
      background-color: #b0b0b0;
}

.country_list_table
{
  border: 2px solid #555555;
  padding : 10px;
  margin: 25px;
  width: 95%;
}
.country_list_table table
{
  border: 2px solid #555555;
  padding : 10px;
  margin: 25px;
  width: 97%;
}
.country_list_table table, thead
{
  border: 2px solid #555555;
  padding : 10px;
  margin: 25px;	
}
.country_list_table td
{
  border: 2px solid #555555;
}

/* based on Huddleston 174-175P. */

#mainnav {
	width: 100%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 2em;
	border-bottom: 3px solid #000000;
	text-align: right;
}

#mainnav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-image: none;
	float: right;
}

#mainnav li{
	float:left;
	margin: 1px;
	margin-right: 10px;
	list-style-type: none;
	list-style-image: none;
}

#mainnav a {
	display: block;
}


ul {
	list-style-type: square;
	list-style-position: outside;
        margin-left: 1em;
        padding-left: 1em;
/*       margin : 2em;
        padding: 10px;

       
*/
	}
li {
	list-style-type: square;
}

#poc_asn_row tr
{
    font-weight: bold;
}

#poc_asn_row td
{
    font-weight: bold;
}

